body {
    background-color: #BEE4F1;
}

.container {
    display: grid;
    height: 600px;
    width: 800px;
    grid-template-columns: repeat(6, 1fr); 
    grid-template-rows: 40px auto 40px; 
    gap: 20px;
    color: white;
  }
  
  header {
    background-color: #02B9AB;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1 / span 7; 
    grid-row: 1; 
  }
  
  aside {
    background-color: #6BD46B;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1 / span 2; 
    grid-row: 2; 
  }
  
  article {
    background-color: #F3AA4A;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    grid-column: 3 / span 5; 
    grid-row: 2; 
  }
  
  footer {
    background-color: #02B9AB;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1 / span 7; 
    grid-row: 3; 
  }
  
  .images {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    grid-column: 1 / span 4; 
    grid-row: 2; 
  }
  
  .images div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    width: 150px;
    background-color: #F4CB48;
  }
  